<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{#  <html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body> #}

{% extends 'user/user_panel.html' %}
{% block body %}
{#
<form action="" method="get">
  <div align="center">
    <table width="309" height="296" border="0">
      <tr>
        <td><div align="center"><strong>USER HOME</strong></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="/user_profile">My Profile</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="/user_det">Upload Details</a></div></td>
      </tr>
       <tr>
        <td><div align="center"><a href="/result_history">All Results</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="/user_cmplnt">Complaints</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="/user_feed">Feedback</a></div></td>
      </tr>
      <tr>
        <td><div align="center">
            <a href="/"><input type="button" name="button" id="button" value="Logout" /></a>
        </div></td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>

#}
{% endblock %}
